.mainImage,
.food1 {
  height: 200px;
}
.mtitle {
  color: azure;
}
.navbox {
  display: flex;
  justify-content: space-between;
  background-color: black;
  flex-wrap: wrap;
}
.navgate {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
}
.nav {
  display: flex;
}
.home,
.menu,
.location,
.about,
.specials,
.num {
  margin: 15px;
  color: azure;
  text-decoration: none;
}
.phone{
  color:azure !important;
}


.food1,
.food2,
.food3,
.food4 {
  width: 100%;
  height: 200px;
}
.fpics {
  display: flex;

  justify-content: center;
}
.steakguy1 {
  width: 150px;
}
/*media to change for differnt screens*/
@media screen and (max-width: 900px) {
  .food1,
  .food2,
  .food3,
  .food4 {
    display: none;
  }
  .navbox {
    flex-direction: column;
    align-items: center;
  }
}
